Theano==0.9.0rc4
cycler==0.10.0
h5py==2.7.0
matplotlib==2.0.0
numpy==1.12.1
pandas==0.19.2
patsy==0.4.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
scikit-learn==0.18.1
scipy==0.19.0
seaborn==0.7.1
six==1.10.0
sklearn==0.0
snakemake==3.11.2
statsmodels==0.8.0
wrapt==1.10.10
-e histonerp
